{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>VestigateList</h1>
            <p>Your ultimate movie series partner.</p>
        </div>
    </div>
{% endblock %}
